<<<<<<< Updated upstream
body {
    background-color: rgb(68, 94, 102);
}

.columns {
    gap: 10px
}
=======
.hero-body{
    background-color: blueviolet;
}

.title{
    text-align: center;
    font-family: fantasy;
    
    
}

.subtitle{
    text-align: center;
    font-family: cursive;
}

.columns{
 gap: 50px;
 
}
   
 
>>>>>>> Stashed changes
