
body {
    background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.cdn4.stockunlimited.net%2Fpreview1300%2Fcinema-background-with-movie-objects_1823382.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#sButton {
    background-color: yellow;
    border: 2px solid black;
    padding: 20px;
    color: black;
}

.select {
    border: 5px solid black;
    padding-bottom: 40px;
}

.box {
    background-color: black;
    padding-top: 100px;
}

.custom-background {
    background-image: url('https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.cdn4.stockunlimited.net%2Fpreview1300%2Fcinema-background-with-movie-objects_1823382.jpg');
    background-position: center;
}

/* #modal {
    background-color: white;
} */
.modal-header{
    color: white;
    text-align: center;
}

#subTitle {
    color: white;
    text-align: center;
}

.movieText1 {
    color: red;
}

.movieText2 {
    color: yellow;
}

.icon1 {
    color: yellow;
}

.icon2 {
    color: red;
}

.custom-content {
    color: white;
    margin-top: 75px;
}

/* .modalCustom {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fmarquee-clipart-transparent.png&f=1&nofb=1');
} */

.custom-content2 {
    background-color: white;
    color: black;
    padding: 10px;
}
.text {
    color: white;
    font-size: 50px;
    padding-bottom: 10px;
}

.selections {
    text-align: center;

}

.selections h3{
    color: white;
}

.modal-search-button{
    text-align: center;

}

.button3 {
    margin-top: 50px;
    border: 2px solid white;
    color: white;
    background-color: black;
    font-size: 20px;
}

.button3:hover {
    border: 3px solid red;
}

.hero-body{
    background-image: linear-gradient(rgb(55, 55, 204), green);
    /* background-colorgb(9, 8, 10)63); */
    padding-top: 50px;
    border-bottom: 20px dotted rgb(243, 243, 11);
    
}

.title{
    text-align: left;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 5px;
    font-size: 36px;
    padding-top: 10px;
    word-spacing: 10px;
    
    
}

.custom-launch {
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 40px;
    /* border: black 5px solid; */
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.gifer.com%2Fembedded%2Fdownload%2FWiCI.gif&f=1&nofb=1');
    background-position: center center;
    background-size: 100% 100%;
    /* border: 20px dotted yellow;
    padding: 10px; */
}

.title2 {
    text-align: center;
    color: white;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 5px;
    font-size: 60px;
    padding-top: 10px;
    word-spacing: 10px;
}



.columns{
 gap: 50px;
 
}

.popcorn {
    margin-left: 200px;
}
.drink {
    margin-left: 60px;
}

